

.leaflet-container {
  height: 70vh;
  z-index: 5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  /* background-image: url('/components/Navbar/planet.png'); */
}

.legend {
  line-height: 18px;
  color: #555;
  background-color: white;
  padding: 10px;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
/* -------------NAVBAR------------- */
.NavbarItems {
  background: url(./components/Navbar/sea3.jpg);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;

}

.logoForma{

  border-radius: 50%;
  height: 6rem;
  width: 9rem;
}        

.fa-react {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
  margin-top: 25px ;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  z-index: 10;
}

.nav-links:hover {
  background-color: #34c5e9;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  text-decoration: none;

}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
 
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
      position: relative;
  }

  .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 500px;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
  }

  .nav-menu.active {
      background: #40c4e6;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 10;
      margin-top: 0px ;
  }

  .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
  }

  .nav-links:hover {
      background-color: #34b5f1;
      border-radius: 0;
  }

  .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
  }

  .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
  }

  .fa-times {
      color: #fff;
      font-size: 2rem;
  }

  .nav-links-mobile {
      display: block;
      text-align: center;
      padding: 1.5rem;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      background: #4ad9e4;
      text-decoration: none;
      color: #fff;
      font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
      background: #fff;
      color: #2b85ec;
      transition: 250ms;
  }

  Button {
      display: none;
  }
}

